<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"><!--引入thymeleaf-->
<meta name="referrer" content="no-referrer" />



<head>

    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title>进入首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body class="body">
<!--导入navigation.html，内容是导航框-->
<div th:insert="~{navigation :: copy}"></div>


<!--首页展示的发现部分-->
<div class="container-fluid main">
    <div class="row" style="height: 200px">
        <div class="col-lg-9 col-md-12 col-sm-12 col-ss-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 文件列表 </h2>
            <hr>
            <!--分页展示内容-->
            <div class="media" th:each="file:${pagination.data}" style="margin-top: 22px">
                <div class="media-left">
                    <a th:href="@{'/file/'+${file.id}}">
                        <img class="media-object img-circle picset"
                             th:src="${file.user.headpic}">
                    </a>
                </div>
                <div class="media-body">
                    <span style="margin-top: 10px;">
                        <h4 class="media-heading" style="font-size: 17px;">
                        <a th:href="@{'/file/'+${file.id}}" th:text="${file.file_name}"></a>
                        </h4>
                    </span>

                    <span class="common-list"><span th:text="${file.down}"/> 次下载 • <span th:text="${file.like_count}"/>个点赞
                        <span th:text="${#dates.format(file.create_time,'yyyy-MM-dd')}" style="float: right;"></span></span>
                </div>
            </div>
            <!--展示底部的页码-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showfirst}">
                        <a href="/index?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPre}">
                        <a th:href="@{/index(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}? 'active' : ''">
                        <a th:href="@{/index(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.shownext}">
                        <a th:href="@{/index(page=${pagination.page+1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showlast}">
                        <a th:href="@{/index(page=${pagination.totalpage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--热门话题部分--> <div class="col-lg-3 col-md-12 col-sm-12 col-ss-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-ss-12">
            <h4>问题发起人</h4>
            <div class="media">
                <div class="media-left">
                    <h3>文件上传</h3>
                    <form action="/fileupload" method="post" enctype="multipart/form-data">
                    <div class="form-group" style="height: 30px">

                                 <input type="file" name="sourcefile" alt="选择文件" style="width:180px; height:30px">
                    </div>
                              <div class="form-group">
                                  <label for="description">文件描述</label>
                                  <input type="text"  name="description" id="description"
                                         cols="5" rows="5">
                              </div>
                                  <!--      标签页相关        -->
                    <div class="form-group" >
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control" id="tag" autocomplete="off"
                               th:value="${tag}" name="tag" onclick="showselecttag()">
                    </div>
                    <!--标签页-->
                    <div id="select-tags" style="display: none">
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" th:each="category,status:${tags}" th:class="${status.first ? 'active':''}">
                                <a th:href="@{'#'+${category.categoryname}}" aria-controls="home"
                                   role="tab" data-toggle="tab" th:text="${category.categoryname}">
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content" style="padding-top: 15px;">
                            <div role="tabpanel" th:each="category,status:${tags}"
                                 th:class="${status.first ? 'active tab-pane':'tab-pane'}" th:id="${category.categoryname}">
                            <span class="label label-info" onclick="selectTag(this)"
                                  th:each="selecttags:${category.tags}" th:text="${selecttags}" th:data-tag="${selecttags}"></span>
                            </div>
                        </div>
                    </div>
                        <!--      权限页相关        -->
                        <div class="form-group" >
                            <label for="permit">添加权限</label>
                            <input type="text" class="form-control" id="permit" autocomplete="off"
                                   th:value="${file_permit}" name="file_permit" onclick="showselectpermission()">
                        </div>
                        <!--权限列表页-->
                        <div id="select-permits" style="display: none">
                            <ul class="nav nav-tabs" role="tablist">

                                <li role="presentation" th:each="category,status:${permits}" th:class="${status.first ? 'active':''}">
                                    <a th:href="@{'#'+${category.permitListname}}" aria-controls="home"
                                       role="tab" data-toggle="tab" th:text="${category.permitListname}">
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content" style="padding-top: 15px;">
                                <div role="tabpanel" th:each="category,status:${permits}"
                                     th:class="${status.first ? 'active tab-pane':'tab-pane'}" th:id="${category.permitListname}">
                            <span class="label label-info" onclick="selectPermit(this)"
                                  th:each="selectpermits:${category.permits}" th:text="${selectpermits}" th:data-tag="${selectpermits}"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success success" style="float: right">提交</button>

                          </form>
                </div>


            </div>
        </div>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-ss-12">
        <!--相关问题-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-ss-12">
            <h4>相关问题</h4>
            <ul class="list-group">
                <li class="list-group-item"  th:each="relative:${relativequestion}">
                    <a th:href="@{'/question/'+${relative.id}}" th:text="${relative.title}"></a>
                </li>
            </ul>
        </div>
    </div>

    </div>


</div>


</body>
</html>