<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"><!--引入thymeleaf-->
<meta name="referrer" content="no-referrer" />



<head>

    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title>进入首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style>
    .d-button :hover{
        background-color: #00FF00;
    }
</style>
</head>
<body class="body">
<!--导入navigation.html，内容是导航框-->
<div th:insert="~{navigation :: copy}"></div>


<!--首页展示的发现部分-->
<div class="container-fluid main">
    <div class="row" style="height: 200px">
        <div class="col-lg-9 col-md-12 col-sm-12 col-ss-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 文件列表 </h2>
            <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
            <hr>
            <!--分页展示内容-->
            <div class="media" th:each="file:${pagination.data}" style="margin-top: 22px">
<!--                <div class="media-left">-->

<!--                    -->

<!--                </div>-->
                <div class="media-body">
                    <span style="margin-top: 10px;">
                        <h4 class="media-heading" style="font-size: 17px;">
                        <a th:text="${file.file_name}"></a>
<!--                            th:if="${(file.file_permit==1 && session.user!=null) || (file.file_permit==2 && session.user.group_name.equals(user.))}" -->
                            <div th:if="${session.user!=null}" th:href="@{'/downloadFile/'+${file.id}}">
                                <a th:href="@{'/downloadFile/'+${file.id}}"><span th:if="${file.file_permit==1}" class="glyphicon glyphicon-download d-button"  aria-hidden="true" style=" float: right;size: A4"> </span></a>
                                <a th:href="@{'/downloadFile/'+${file.id}}"><span th:if="${file.file_permit==2 && session.user.group_name==file.group_name}" class="glyphicon glyphicon-download d-button"  aria-hidden="true" style=" float: right;size: A4"> </span></a>
                                <span th:if="${file.file_permit==2 && session.user.group_name!=file.group_name}" class="glyphicon glyphicon-lock"  aria-hidden="true" style=" float: right;size: A4;color: lightgray"> </span>
                            </div>
                            <span th:if="${session.user==null}" class="glyphicon glyphicon-lock"  aria-hidden="true" style=" float: right;size: A4;color: lightgray;"> </span>
                        </h4>
                    </span>
                    <span><p th:text="${file.description}" style="font-size: 12px; color: #9d9d9d"></p></span>
                    <span class="common-list"><span th:text="${file.down}"/> 次下载 •
                        上传者：<span th:text="${file.user_name}"/>
                        <a th:if="${session.user!=null && session.user.name==file.user_name}" th:href="@{'/deletefile/'+${file.id}}"><span class="glyphicon glyphicon-trash" style="margin-left: 20px"></span></a>
                        <span th:text="${#dates.format(file.create_time,'yyyy-MM-dd')}" style="float: right"></span></span>
                </div>
            </div>
            <!--展示底部的页码-->
<!--            这里面需要修改一下，因为这里面还都是index的内容-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showfirst}">
                        <a href="/FilePage?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPre}">
                        <a th:href="@{/FilePage(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}? 'active' : ''">
                        <a th:href="@{/FilePage(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.shownext}">
                        <a th:href="@{/FilePage(page=${pagination.page+1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showlast}">
                        <a th:href="@{/FilePage(page=${pagination.totalpage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--文件上传界面-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-ss-12" th:if="${session.user != null}">
        <div class="col-lg-12 col-md-12 col-sm-12 col-ss-12">
            <h4>上传界面</h4>
            <div class="media">
                <div class="media-left">
                    <h3>文件上传</h3>
                    <form action="/fileupload" method="post" enctype="multipart/form-data">
                    <div class="form-group" style="height: 30px">

                                 <input type="file" name="sourcefile" alt="选择文件" style="width:180px; height:30px">
                    </div>
                              <div class="form-group">
                                  <label for="tag">文件描述</label>
                                  <input type="text"  name="description" id="description"
                                         cols="5" rows="5" placeholder="简单的描述一下..">
                              </div>
                                  <!--      标签页相关        -->
                    <div class="form-group" >
                        <label for="tag">添加标签</label>
<!--                        <input type="text" class="form-control" id="tag" autocomplete="off"-->
<!--                               th:value="${tag}" name="tag" onclick="showselecttag()">-->
                        <select class="form-control" name="tag" id="tag">
                            <option th:value="生物科学">生物科学</option>
                            <option th:value="信息科学">信息科学</option>
                            <option th:value="计算机科学">计算机科学</option>
                            <option th:value="理论物理学">理论物理学</option>
                        </select>
                    </div>
                    <!--标签页-->
<!--                    可能没有必要全部列出来-->
                        <!--      权限页相关        -->
                        <div class="form-group" >
                            <label for="permit">添加权限</label>
<!--                            <input type="text" class="form-control" id="permit" autocomplete="off"-->
<!--                                   th:value="${file_permit}" name="file_permit" onclick="showselectpermission()">-->
                            <select class="form-control" id="permit" name="file_permit">
                                <option th:value="1">向所有用户公开</option>
                                <option th:value="2">仅限本机构</option>
                            </select>
                        </div>
                        <!--权限列表页-->

                        <button type="submit" class="btn btn-success success" style="float: right">提交</button>

                          </form>
                </div>


            </div>
        </div>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-ss-12">
        <!--相关问题-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-ss-12">
            <h4>相关文件</h4>
            <ul class="list-group">
                <li class="list-group-item"  th:each="relative:${relativequestion}">
                    <a th:href="@{'/question/'+${relative.id}}" th:text="${relative.title}"></a>
                </li>
            </ul>
        </div>
    </div>

    </div>


</div>


</body>
</html>