<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--引入thymeleaf-->
<meta name="referrer" content="no-referrer" />

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="body">
<!--导航栏-->
<div th:fragment="copy">
    <nav class="navbar navbar-default"style="margin-bottom: 0px">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="nav-top" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index" style="margin-left: 120px;">resreachDto</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" size="50px" placeholder="讨论、社区文献">
                </div>
                <button type="submit" class="btn btn-default">search</button>
            </form>


            <!--根据session中是否存在user判断展示的内容-->
            <ul class="nav navbar-nav navbar-right" style="margin-right: 40px">
                <li><a href="/FilePage">文献库</a></li>
                <li><a>备案</a></li>
                <li><a>学术会议</a></li>
                <li><a>讲座/座谈会</a></li>
                <li th:if="${session.user == null}"><a href="/login">登录</a></li>
                <li th:if="${session.user == null}"><a href="/register">免费注册</a></li>
            </ul>
            </div>

        </div><!-- /.navbar-collapse -->
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left" style="margin-left:120px">
                <li><a href="/index">首页</a></li>
                <li><a>成果展示</a></li>
                <li><a>问答社区</a></li>
                <li><a>机构主页</a></li>
                <li><a>TREES</a></li>
            </ul>
            <div class="nav-bottom">
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user} != null">
                        <a href="/personal/information">
                        <span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"
                              style="padding-top: 2px;"></span>
                            <span  th:text="${session.unreadnum}" style="padding-top: 2px;"></span>
                        </a>
                    </li>
                    <li th:if="${session.user} != null"><a href="/publish">发布问题</a></li>
                    <li th:if="${session.user} == null"><a href="/login">发布问题</a></li>
                    <li th:if="${session.user} != null"><a href="/publishnovel">发布文章</a></li>
                    <li th:if="${session.user} == null"><a href="/login">发布文章</a></li>
                    <li th:if="${session.user} != null"><a href="/logout">退出登陆</a></li>
                    <li class="dropdown" th:if="${session.user} != null">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="margin-right: 40px;">
                            <span th:text="${session.user.getNickname()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="margin-right:40px;">
                            <li><a href="/personal/questions">我的问答</a></li>
                            <li><a th:href="@{'/persondata/'+${session.user.getToken()}}">个人资料</a></li>
                            <li><a href="#">我的文章</a></li>
                            <li><a href="#">我的关注</a></li>
                            <li><a href="#">我的订阅</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>